$base-font: 16;
$font-inter : "inter", sans-serif;
$popupWidth: 288;
$popupRadius: 12;
$primaryButtonRadius: 10;
$modalRadius : 16;
$popupShadow: 0 8px 16px rgba(0, 0, 0, 0.08);
$popupLinksShadow: 0 0 4px rgba(0, 0, 0, 0.24);
