.button {
	background: none;
	outline: none;
	cursor: pointer;
	z-index: 2;
	border: 1px solid transparent;
	color: var(--clr-shade-white);
	font-weight: 600;
	@include flex-center;
	max-height: rem(40);

	&__text {
		font-weight: 600;
		@include text-xs;
		//color: var(--clr-shade-white);
	}

	i {
		margin-left: rem(10);
		@include text-lg;
	}
}

.button-gray {
	padding: rem(10) rem(24);
	border-radius: rem($primaryButtonRadius);
	border: 1px solid var(--clr-gray-color-100);
	color: var(--clr-gray-800);
	background-color: var(--clr-gray-100);
}

.button-secondary {
	padding: rem(10) rem(24);
	border-radius: rem($primaryButtonRadius);
	border-color: var(--clr-success-200);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	border: 1px solid var(--clr-gray-color-100);
	color: var(--clr-gray-800);
}

.button-primary {
	padding: rem(10) rem(24);
	background-color: var(--clr-success-700);
	border-radius: rem($primaryButtonRadius);
	border-color: var(--clr-success-200);

	&-light {
		padding: rem(10) rem(24);
		border-radius: rem($primaryButtonRadius);
		background-color: var(--clr-success-100);
		color: var(--clr-success-800);
	}
}

.button-icon {
	--button-icon-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	border-radius: rem(6);
	color: var(--clr-gray-600);
	@include flex-center;
	width: rem(24);
	height: rem(24);
	box-shadow: var(--button-icon-shadow);
	background-color: rgba($color: $color-white, $alpha: 0.5);
}
